<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file" force="true"/>
        <env name="BCRYPT_ROUNDS" value="4" force="true"/>
        <env name="BROADCAST_CONNECTION" value="null" force="true"/>
        <env name="CACHE_STORE" value="array" force="true"/>
        <env name="DB_CONNECTION" value="pgsql" force="true"/>
        <env name="DB_HOST" value="postgres" force="true"/>
        <env name="DB_PORT" value="5432" force="true"/>
        <env name="DB_DATABASE" value="katra_testing" force="true"/>
        <env name="DB_USERNAME" value="katra" force="true"/>
        <env name="DB_PASSWORD" value="katra" force="true"/>
        <env name="DB_URL" value="" force="true"/>
        <env name="MAIL_MAILER" value="array" force="true"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="SCOUT_DRIVER" value="collection" force="true"/>
        <env name="SCOUT_QUEUE" value="false" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="PULSE_ENABLED" value="false" force="true"/>
        <env name="TELESCOPE_ENABLED" value="false" force="true"/>
        <env name="NIGHTWATCH_ENABLED" value="false" force="true"/>
        <!-- Docker populates the same names in $_SERVER; override that higher-priority source too. -->
        <server name="APP_ENV" value="testing"/>
        <server name="APP_MAINTENANCE_DRIVER" value="file"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="BROADCAST_CONNECTION" value="null"/>
        <server name="CACHE_STORE" value="array"/>
        <server name="DB_CONNECTION" value="pgsql"/>
        <server name="DB_HOST" value="postgres"/>
        <server name="DB_PORT" value="5432"/>
        <server name="DB_DATABASE" value="katra_testing"/>
        <server name="DB_USERNAME" value="katra"/>
        <server name="DB_PASSWORD" value="katra"/>
        <server name="DB_URL" value=""/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SCOUT_DRIVER" value="collection"/>
        <server name="SCOUT_QUEUE" value="false"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="PULSE_ENABLED" value="false"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <server name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
